.auto{
  width:auto;
  heigth:auto;
}

body {
  font-family: 'Roboto', sans-serif;
  position: relative;
  font-weight:400px;
}

ul li {
  list-style: none;
}

a:hover {
outline: none;
text-decoration:none;
}

a:focus {
  outline:none;
  outline-offset: 0;
}


a {
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Roboto', sans-serif;
}

.navbar-toggle {
  background-color: #000;
}

a#scrollUp {
  bottom: 0px;
  right: 10px;
  padding: 5px 10px;
  background: #fe980f;
  color: #FFF;
  -webkit-animation: bounce 2s ease infinite;
  animation: bounce 2s ease infinite;
}

a#scrollUp i{
  font-size: 30px;
}


/*************************
*******Header CSS******
**************************/

.header_top {
  background: none repeat scroll 0 0 #fe980f;
  background-color:#fe980f;
  }
  
.contactinfo ul li:first-child{
    margin-left: -15px;
}

.contactinfo ul li a{
  font-size: 12px;
  color: #ffffff;
  font-family: 'lora', sans-serif;
  font-weight: bold;
}

.contactinfo ul li a:hover{
	background:inherit;
	color:#696763;
}

.social-icons ul li a {
  border: 0 none;
  border-radius: 0;
  color: #ffffff;
  padding:0px;
}

.social-icons ul li{
	display:inline-block;
}

.social-icons ul li a i {
  padding: 11px 15px;
   transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.social-icons ul li a i:hover{
  color: #fff;
   transition: all 0.9s ease 0s;
  -moz-transition: all 0.9s ease 0s;
  -webkit-transition: all 0.9s ease 0s;
  -o-transition: all 0.9s ease 0s;
}

.fa-facebook:hover {
  background: #0083C9;
}

.fa-twitter:hover  {
	background:#5BBCEC;
}

.fa-linkedin:hover  {
	background:#FF4518;
}

.fa-google-plus:hover  {
	background:#CE3C2D;
}

.header-middle .container .row {
  border-bottom: 1px solid #f5f5f5;
  margin-left: 0;
  margin-right: 0;
  padding-bottom: 20px;
  padding-top: 20px;
}

.header-middle .container .row .col-sm-4{
  padding-left: 0;
}

.header-middle .container .row .col-sm-8 {
	padding-right:0;
}

.shop-menu ul li {
  display:inline-block;
  padding-left: 15px;
  padding-right: 15px;
}

.shop-menu ul li:last-child {
  padding-right: 0;
}

.shop-menu ul li a {
  background: #FFFFFF;
  color: #696763;
  font-family: 'lora', sans-serif;
  font-size: 18px;
  font-weight: 300;
  padding:0;
  padding-right: 0;
  margin-top: 5px;
}

.shop-menu ul li a i{
	margin-right:3px;
}

.shop-menu ul li a:hover {
	color:#fe980f;
	background:#fff;
}

.header-bottom {
  padding-bottom: 30px;
  padding-top: 30px;
}

.navbar-collapse.collapse{
  padding-left: 0;
}

.mainmenu ul li{
  padding-right: 15px;
  padding-left: 15px;
}

.mainmenu ul li:first-child{
  padding-left: 0px;
}

.mainmenu ul li a {
	color: #696763;
	font-family: 'lora', sans-serif;
	font-size: 17px;
	font-weight: bold;
	padding: 0;
	padding-bottom: 10px;
}

.mainmenu ul li a:hover, .mainmenu ul li a.active,  .shop-menu ul li a.active{
	background:none;
  color: #fe980f;
}

.borde button{
	border:solid 1px #fe980f;
}

.borde button:hover{
	border:solid 1px #696763;
}

.input-group input{
  font-family: 'lora';

}

/*  Dropdown menu*/

.navbar-header 
.navbar-toggle .icon-bar {
    background-color: #fff;
}

.nav.navbar-nav > li:hover > ul.sub-menu{
  display: block;
  -webkit-animation: fadeInUp 400ms;
  -moz-animation: fadeInUp 400ms;
  -ms-animation: fadeInUp 400ms;
  -o-animation: fadeInUp 400ms;
  animation: fadeInUp 400ms;
}

ul.sub-menu {
	position: absolute;
	top: 30px;
	left: 0;
	background:#eee;
	list-style: none;
	padding: 0;
	margin: 0;
	width: 220px;
	-webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.1);
	display: none;
	z-index: 999;
}

.dropdown ul.sub-menu li .active{
  color: #fe980f;
  padding-left: 0;
}

.navbar-nav li ul.sub-menu li{
  padding: 10px 20px 0 ;
}

.navbar-nav li ul.sub-menu li:last-child{
  padding-bottom: 20px;
}

.navbar-nav li ul.sub-menu li a{
  color: #696763;
}

.navbar-nav li ul.sub-menu li a:hover{
    color: #fe980f;
}

.fa-angle-down{
  padding-left: 5px; 
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

/*SLIDER*/

#slider{
	heigth:auto;
}
.carousel .item{
  height:auto;
}

.carousel-indicators li {
  background: #C4C4BE;
}

.carousel-indicators li.active {
  background: #fe980f;
}

.item {
  padding-left: 0px;
}

.item h1 {
  color: #B4B1AB;
  font-family: abel;
  font-size: 48px;
  margin-top: 115px;
}

.item h1 span {
	color:#696763;
}

.item h2 {
  color: #363432;
  font-family: 'Roboto', sans-serif;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 22px;
  margin-top: 10px;
}

.item  p {
	color:#363432;
	font-size:16px;
	font-weight:300;
	font-family: 'Roboto', sans-serif;
}

.item button:hover {
  background: #696763;
}

.carousel-caption h1{
	font-size:4em;
	color:#fff;
	text-shadow: -2px -2px 1px #000, 2px 2px 1px #000, -2px 2px 1px #000, 2px -2px 1px #000;
}

.carousel-caption img{
	width:50%;
}

.control-carousel {
  position: absolute;
  top: 50%;
  font-size: 60px;
  color: #fe980f;
}

.control-carousel:hover{
  color: #696763;
}

.right {
  right: 0;
}

.category-products {
  border: 1px solid #F7F7F0;
  margin-bottom: 35px;
  padding-bottom: 20px;
  padding-top: 15px;
}

.left-sidebar h1{
  color: #696763;
  font-family: 'lora', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index:3;
}

.padding-right h1{
  color: #696763;
  font-family: 'lora', sans-serif;
  font-size: 24px;
  font-weight: bold;
  margin: 0 auto 30px;
  text-align: center;
  text-transform: uppercase;
  position: relative;
  z-index:3;
}

.left-sidebar h1:after, h1.title:after{
	content: " ";
	position: absolute;
	border: 1px solid #f5f5f5;
	bottom:8px;
	left: 0;
	width: 100%;
	height: 0;
	z-index: -2;
}

.left-sidebar h1:before{
	content: " ";
	position: absolute;
	background: #fff;
	bottom: -6px;
	width: 130px;
	height: 30px;
	z-index: -1;
	left: 50%;
	margin-left: -65px;
}

h2.title:before{
	content: " ";
	position: absolute;
	background: #fff;
	bottom: -6px;
	width: 220px;
	height: 30px;
	z-index: -1;
	left: 50%;
	margin-left: -110px;
}

.category-products .panel {
	background-color: #FFFFFF;
	border: 0px;
	border-radius: 0px;
	box-shadow:none;
	margin-bottom: 0px;
}

.category-products .panel-default .panel-heading {
  background-color: #fe980f;
  border: 0 none;
  color: #FFFFFF;
  padding: 5px 20px;
}

.badge i{
	color:#696763;
}

.category-products .panel-default .panel-heading .panel-title a {
  color: #fff;
  font-family: 'lora', sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  font-weight:bold;
}

.category-products .panel-default .panel-heading .panel-title a:hover {
  color: #696763;
  font-family: 'lora', sans-serif;
  font-size: 20px;
  text-decoration: none;
  text-transform: uppercase;
  margin-left:10%;
  background-color: #fe980f;
}

.panel-group .panel-heading + .panel-collapse .panel-body {
  border-top: 0 none;
}

.category-products .badge {
  background:none;
  border-radius: 10px;
  color: #696763;
  display: inline-block;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  min-width: 10px;
  padding: 3px 7px;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;
}

.panel-body ul{
  padding-left: 20px;
}


.panel-body ul li a {
  color: #696763;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.panel-body a:hover {
  color: #fe980f;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  text-transform: uppercase;
}

.padding-right {
  padding-right: 0;
}

.features_items{
	overflow:hidden;
}

h2.title {
  color: #fe980f;
  font-family: 'lora', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0 15px;
  text-transform: uppercase;
  margin-bottom: 30px;
  position: relative;
}

.product-image-wrapper{
	border:1px solid #F7F7F5;
	overflow: hidden;
	margin-bottom:30px;
}

.single-products {
  position: relative;
}

.text-center h3{
	color: #fe980f;
	font-family: 'lora', sans-serif;
	font-size: 20px;
	font-weight: 300;
}

.productinfo h2{
	color: #000;
	font-family: 'lora', sans-serif;
	font-size: 18px;
	font-weight: 300;
	font-family: Roboto;
}

.agranda img:hover{
-webkit-transition: all 2s ease-out;
transition: all 0.5s ease-out;
-webkit-transform:scaley(1.1) scale(1.3);
transform:scaley(1.1) scale(1.3) ;
margin-top:2.5%;
}

.product-overlay h2{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.product-overlay h3{
	color: #fff;
	font-family: 'Roboto', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.product-overlay a i{
	color: #fe980f;
}

.productinfo p{
  font-family: 'lora', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #424B54;
}

.productinfo img{
  width: 100%;
}

.productinfo{
 position:relative;
}

.product-overlay {
  background:#fe980f;
  top: 0;
  display: none;
  height: 0;
  position: absolute;
  transition: height 500ms ease 0s;
  width: 100%;
  display: block;
}

.single-products:hover .product-overlay {
  display:block;
  height:100%;
}

.product-overlay .overlay-content {
  bottom: 0;
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
}
.overlay-content p{
	color:red;
}
.product-overlay .add-to-cart {
  background:#fff;
  border: 0 none;
  border-radius: 0;
  color: #fe980f;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}

.product-overlay .add-to-cart:hover {
  background:#fff;
  color: #696763;
}

.product-overlay p{
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 300;
  color: #fe980f;
}

.product-overlay img{
width:85%;
}

.add-to-cart {
  background: #fe980f;
  border: 0 none;
  border-radius: 0;
  color: #ffffff;
  font-family: 'lora', sans-serif;
  font-size: 15px;
  margin-bottom: 25px;
}

.add-to-cart:hover {
  background: #696763;
  border: 0 none;
  border-radius: 0;
  color: #FFFFFF;
}

.add-to{
  margin-bottom: 10px;
}

.add-to-cart i{
	margin-right:5px;
}

.add-to-cart:hover {
  background: #696763;
  color: #FFFFFF;
}

/*************************
*******Paginacion*****
**************************/

.pagination {
  display: inline-block;
  margin-bottom: 25px;
  margin-top: 0;
  padding-left: 15px;
}

.pagination  li:first-child  a, .pagination  li:first-child  span {
  border-bottom-left-radius: 0;
  border-top-left-radius: 0;
  margin-left: 0;
}

.pagination  li:last-child  a, .pagination  li:last-child  span {
  border-bottom-right-radius: 0;
  border-top-right-radius: 0;
}

.pagination  .active  a, .pagination  .active  span, .pagination  .active  a:hover, .pagination  .active  span:hover, .pagination  .active  a:focus, .pagination  .active  span:focus {
  background-color: #fe980f;
  border-color: #fe980f;
  color: #FFFFFF;
  cursor: default;
  z-index: 2;
}

.pagination  li  a, .pagination  li  span {
  background-color: #f0f0e9;
  border: 0;
  float: left;
  line-height: 1.42857;
  margin-left: -1px;
  padding: 6px 12px;
  position: relative;
  text-decoration: none;
  margin-right: 5px;
  color:#000;
}

.pagination  li  a:hover{
	background:#fe980f;
	color:#fff;
}

/*************************
*******login *************
**************************/

#form {
  display: block;
  margin-bottom: 185px;
  margin-top: 185px;
  overflow: hidden;
}

.modal-footer a{
  color: #696763;
  font-family: 'lora';
  font-weight: normal;
  margin-right: 5%;
  margin-top: 5%;  
  margin-right: 5%;
}

.modal-footer a:hover{
  color: #fe980f;
}

.modal-footer button{
  margin-top: -1.3%;  
}

/*************************
*******Botones******
**************************/

.btn:hover, 
.btn:focus{
  outline: none;
  box-shadow: none;
}

.btn:hover{
	background-color:#696763;
	border:#696763;
}

.btn{
	background-color:#fe980f;
	border:#fe980f;
}

/*************************
**Contacto y Registro ****
**************************/

.contact-info .heading, 
.contact-form .heading {
  text-transform: capitalize;
}

.contact-form .form-group {
  margin-bottom: 20px;
}

#contact-page 
.form-control::-moz-placeholder {
  color: #8D8D8D;
}

#contact-page .form-control {
  background-color: #fff;
  border: 1px solid #ddd;
  color: #696763;
  height: 46px;
  padding: 6px 12px;
  width: 100%;
  font-size: 16px;
  border-radius: 4px;
  box-shadow:inherit;
}

#contact-page #message {
  height:160px;
  resize:none;
}

#main-contact-form .btn-primary {
  margin-bottom: 15px;
  margin-top: 8px;
}

#contact-page .form-control:focus, 
#contact-page .form-control:hover {
  box-shadow: inherit;
  border-color: #fe980f;
}

#contact-page .contact-info {
  padding: 0 20px;
}

#contact-page .contact-info address {
  margin-bottom: 40px;
  margin-top: -5px;
}

#contact-page .contact-info p {
  margin-bottom: 0;
  color: #696763;
  font-size: 16px;
  line-height: 25px;
}

#contact-page .container{
  padding-left: 0px;
}

.social-networks{
  overflow: hidden;
  text-align: center;
}

.social-networks ul {
  margin-top: -5px;
  padding: 0;
  display: inline-block;
}

.social-networks ul li {
  float: left;
  text-decoration: none;
  list-style: none;
  margin-right: 20px;
}

.social-networks ul li:last-child{
  margin-right: 0;
}

.social-networks ul li a {
  color: #999;
  font-size: 25px;
}

.contact-info .social-networks ul li a i{
  background: none;
}

.contact-info .social-networks ul li a:hover{
  color: #fe980f;
}

/*************************
*******Footer ******
**************************/

#footer {
  background-color: #fe980f;
}

.footer-bottom {
  background-color: #696763;
  padding-top: 10px;
}

.footer-bottom p {
  color: #ffffff;
  font-family: 'lora', sans-serif;
  font-weight: 300;
  margin-left: 15px;
}

.footer-bottom p span a {
  color: #fe980f;
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

/*************************
*******Tipografías******
**************************/
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,400italic,500,700,100);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,800,300,600,700);
@import url(http://fonts.googleapis.com/css?family=Abel);

@font-face {
font-family: 'lora';
src: url('../fonts/lora/Lora-Regular.ttf') format('TrueType');
font-weight: normal;
}

@font-face {
font-family: 'lora';
src: url('../fonts/lora/Lora-Bold.ttf') format('TrueType');
font-weight: bold;
}

/*************************
*******Carrito******
**************************/

#cart_items .cart_info {
  border: 1px solid #E6E4DF;
  margin-bottom: 50px
}

#cart_items .cart_info .cart_menu {
  background: #FE980F;
  color: #fff;
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

#cart_items .cart_info .table.table-condensed thead tr {
  height: 51px;
}


#cart_items .cart_info .table.table-condensed tr {
  border-bottom: 1px solid#F7F7F0
}

#cart_items .cart_info .table.table-condensed tr:last-child {
  border-bottom: 0
}

.cart_info table tr td {
  border-top: 0 none;
  vertical-align: inherit;
}

#cart_items .cart_info .image {
  padding-left: 30px;
}

#cart_items .cart_info .cart_description h4 {
  margin-bottom: 0;
}

#cart_items .cart_info .cart_description h4 a {
  color: #363432;
  font-family: 'Roboto',sans-serif;
  font-size: 20px;
  font-weight: normal;
}

#cart_items .cart_info .cart_description p {
  color:#696763
}

#cart_items .cart_info .cart_price p {
  color:#696763;
  font-size: 18px
}


#cart_items .cart_info .cart_total_price {
  color: #FE980F;
  font-size: 24px;
}

.cart_product {
  margin: 15px -70px 10px 25px;
  width: 15%;
}

.cart_quantity_button a {
  background:#F0F0E9;
  color: #696763;
  display: inline-block;
  font-size: 16px;
  height: 28px;
  overflow: hidden;
  text-align: center;
  width: 35px;
  float: left;
}


.cart_quantity_input {
  color: #696763;
  float: left;
  font-size: 16px;
  text-align: center;
  font-family: 'Roboto',sans-serif;
  
}

.cart_delete  {
  display: block;
  margin-right: -12px;
  overflow: hidden;
}


.cart_delete a {
  background:#696763;
  color: #FFFFFF;
  padding: 5px 7px;
  font-size: 16px
}

.cart_delete a:hover {
  background:#FE980F;
}


.bg h2.title {
  margin-right:0;
  margin-left:0;
  margin-top: 0;
}

.heading h3 {
  color: #363432;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
}

.heading p {
  color: #434343;
  font-size: 16px;
  font-weight: 300;
}


#do_action .total_area {
  padding-bottom: 18px !important;
}

#do_action .total_area, #do_action .chose_area {
  border: 1px solid #E6E4DF;
  color: #696763;
  padding: 30px 25px 30px 0;
  margin-bottom: 80px;
}

.total_area span {
  float: right;
}

.total_area ul li {
  background:#E6E4DF;
  color: #696763;
  margin-top: 10px;
  padding: 7px 20px;
}

/*************************
*******AJUSTES VARIOS******
**************************/
.achica{
	width: 90%;
}

.detallefoto{
	width: 55%;
}

.color{
	color:#696763;
}

.color:hover{
	color:#FE980F;
}

.color2{
	color:#FE980F;
	font-weight:bold;
}

.color2{
	color:#FE980F;
	font-weight:bold;
}

.color2:hover{
	color:#696763;
	font-weight:bold;
}

.letra{
	font-size:18pt;
	font-family: Roboto;
}

#redondo{
	margin-top: 1%;
	border-radius:85%;
}

#redondo:hover{
-webkit-transition: all 0.5s ease-in-out;
transition: all 0.5s ease-in-out;
-webkit-transform: rotatey(360deg);
transform: rotatey(360deg);
}
